<div class="container">

  <button mat-raised-button class="btn-left" (click)="goBack()">Back</button><br><br><br>

  <h1>Manage Profile</h1>
      <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Joe Smith"
        [(ngModel)]="user.FirstName"
      />

  </mat-form-field>
      <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        placeholder="joe@awesome.com"
        [(ngModel)]="user.LastName"
      />
  </mat-form-field>
  
      <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        placeholder="(XXX)-XXX-XXXX"
        [(ngModel)]="user.Phone"
      />
    </mat-form-field>

      <button mat-raised-button class="btn-right-green" (click)="updateProfile()">Save</button>
</div>
