::ng-deep .mat-mdc-input-element {
      font-family: "Rubik", sans-serif !important;
}

::ng-deep .mat-mdc-floating-label {
      font-family: "Rubik", sans-serif !important;
}

::ng-deep mat-form-field {
  width: 100%;
  margin-top: 10px;
}

::ng-deep .mat-mdc-form-field-infix {
  width: 100%;
}

.container {
      width: 90%;
      padding-left: 5em;
      padding-top: 2em;
}

textarea {
   font-family: "Rubik", sans-serif !important;
   width: 100%;
   height: 300px;
   outline: none;
}


::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  background-color: white !important;
  border: 1px solid black;
  border-bottom: none;
}

/* Ensure overlayed calendar popup uses white background and Rubik font */
::ng-deep .cdk-overlay-container .mat-calendar,
::ng-deep .cdk-overlay-container .mat-calendar-content,
::ng-deep .cdk-overlay-container .mat-calendar-table,
::ng-deep .cdk-overlay-container .mat-calendar-body,
::ng-deep .cdk-overlay-container .mat-calendar-header,
::ng-deep .cdk-overlay-container .mat-calendar-body-cell-content,
::ng-deep .cdk-overlay-container .mat-calendar-period-button,
::ng-deep .cdk-overlay-container .mat-calendar-previous-button,
::ng-deep .cdk-overlay-container .mat-calendar-next-button {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: "Rubik", sans-serif !important;
}

::ng-deep .cdk-overlay-container .mat-calendar {
  box-shadow: 0 6px 24px rgba(0,0,0,0.18) !important;
}

.image-upload {
      border: 5px dotted #ccc;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 100px;
      text-align: center;
      color: #727272;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Rubik", sans-serif;
      cursor: pointer;
}