<div class="container">
  <button mat-raised-button class="btn-left" (click)="goBack()">Back</button><br><br><br>
  <h1>Create Gravicast</h1>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input
      matInput
      placeholder="e.g. Free Ice Cream, Piano Lessons"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width-textarea">
  <mat-label>Description</mat-label>
  <textarea
    matInput
    placeholder="Enter detailed description of the event..."
    rows="8"
  ></textarea>
</mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Messaged Displayed When Saved</mat-label>
    <input
      matInput
      placeholder="Thank you for your support!"
    />
  </mat-form-field>
    <mat-form-field appearance="outline">
    <mat-label>At</mat-label>
    <input
      matInput
      placeholder="123 Easy Street"
    />
  </mat-form-field>
      <mat-form-field appearance="outline">
    <mat-label>Start Time</mat-label>
    <input
      matInput
      placeholder="9:00 A.M"
    />
  </mat-form-field>
      <mat-form-field appearance="outline">
    <mat-label>End Time</mat-label>
    <input
      matInput
      placeholder="12:00 PM"
    />
  </mat-form-field>
  <div class="image-upload">Click to upload image..</div>
  <button mat-raised-button class="btn-right-green">Create</button>
</div>
  