<div class="location"><a href="#" (click)="openDialog(); $event.preventDefault()">Biloxi, MS</a></div>
<button mat-raised-button class="btn-right" (click)="createListing()">Create Listing</button>
<div class="search-box">
  <input class="search" placeholder="Search.."><br><br>
  <a href="">Gravicasts (23,023)</a>&nbsp;&nbsp;
  <a href="">Listings (7,996)</a>&nbsp;&nbsp;
  <a href="">Private (6,302)</a>&nbsp;&nbsp;
  <a href="">Ending Soon (3,451)</a>
</div>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Gravicast Universe">
    <table class="listing-table">
      <td>The Hobbit: An Unexpected Journey</td>
      <td>Wells Fargo IMAX Theater</td>
      <td>Ends in 5 Weeks</td>
      <td><button class="save-btn" mat-raised-button>Save</button></td>
    </table>

    <table class="listing-table">
      <td>Windows 11 Upgrade Offer</td>
      <td>By Microsoft</td>
      <td>Ends in 1 Month, 2 Weeks</td>
      <td><button class="save-btn" mat-raised-button>Save</button></td>
    </table>

    <table class="listing-table">
      <td>American Red Cross Triangle Chapter</td>
      <td>100 N. Peartree Ln. <br>Raleigh, NC 27610</td>
      <td>
        (919) 231-1602<br>
        <u>triangleinfo@redcross.org</u>
      </td>
      <td><button class="support-btn" mat-raised-button>Support</button></td>
    </table>

        <table class="listing-table">
      <td>Wells Fargo IMAX Theatre at Marbles</td>
      <td>201 E. Hargett St.,<br>Raleigh, NC 27610</td>
      <td>
        (919) 882-IMAX<br>
        <u>tickets@marbleskidsmuseum.org</u>
      </td>
      <td><button class="support-btn" mat-raised-button>Support</button></td>
    </table>
  @for (listing of listings; track listing.Id) {
    <table class="listing-table">
    <tr>
      <td>{{ listing.Title }}</td>
      <td>{{ listing.Location }}</td>
      <td>Ends on {{ listing.EndDate | date:'mediumDate' }}</td>
      <td><button class="save-btn" mat-raised-button>Save</button></td>
    </tr>
    </table>
  }
  </mat-tab>
  <mat-tab label="My World"></mat-tab>
</mat-tab-group>
